<nav class="navbar navbar-expand-lg bg-dark " data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand text-warning" href="/">
            LOJINHA
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/products">Produtos</a>
                </li>
        
                <li class="nav-item">
                    <a class="nav-link" href="/admin/stock">Estoque</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/admin/products/edit">Clientes</a>
                </li>
        
            </ul>
        </div>

        
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <button class="btn btn-warning me-2" type="button">Admin</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-danger me-2" type="button">Logout</button>
            </li>
        </ul>
    </div>


</nav>