<%- include ('partials/header.ejs'); %>
<%- include ('partials/nav.ejs'); %>
<hr>

<div class="container text-center fs-1">
    Seja Bem vindo a pagina da <p class="text-warning">LOJINHA</p>
</div>
<%- include ('partials/footer.ejs'); %>

